@charset "UTF-8";
table {
	border: 1px solid #a9a9a9;
	width: 90%;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}

a {
  text-decoration: none;
}

td {
	width: 12%;
	border-top: 1px solid #a9a9a9;
	border-left: 1px solid #a9a9a9;
	vertical-align: top;
	margin: 0px;
	padding: 2px;
}

td.week {
	background-color: #f0f8ff;
	text-align: center;
}

td.day {
	background-color: #f5f5f5;
	text-align: right;
	font-size: 0.75em;
	padding-right: 5px;
}

td.otherday {
	background-color: #f5f5f5;
	color: #d3d3d3;
	text-align: right;
	font-size: 0.75em;
}

td.sche {
	background-color: #fffffff;
	text-align: left;
	height: 80px
}

p {
	font-size: 0.75em;
}

.contents{
	font-size: 0.7em;
}

form{
	display: inline;
}

.submit{
	margin: 0px;
	padding: 2px;
	font-size: 0.75em;
	height: 20px;
}
